<nav class="navbar navbar-light bg-body-tertiary mt-3 rounded">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/static/images/logo.svg" width="150" alt="Example Image">
        </a>

        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" >
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
          </svg>
    </div>
</nav>
  


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <img src="/static/images/logo.svg" width="200" alt="Example Image">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <ul class="nav flex-column nav-pills mt-5 fs-2">
      <li class="nav-item">
          <a class="nav-link {% if current_path == '/' %}active{% endif %}" href="/">Главное</a>
      </li>
      <li class="nav-item">
          <a class="nav-link {% if current_path == '/structure' %}active{% endif %}" href="/structure">Структура</a>
      </li>
      <li class="nav-item">
          <a class="nav-link {% if current_path == '/rewards' %}active{% endif %}" href="/rewards">Вознаграждения</a>
      </li>
      <li class="nav-item">
          <a class="nav-link {% if current_path == '/balance' %}active{% endif %}" href="/balance">Баланс</a>
      </li>
      <li class="nav-item">
          <a class="nav-link {% if current_path == '/gift' %}active{% endif %}" href="/gift">Подарочные</a>
      </li>
      <li class="nav-item">
          <a class="nav-link {% if current_path == '/sponsored' %}active{% endif %}" href="/sponsored">Личники в структуре</a>
      </li>
      <li class="nav-item">
          <a class="nav-link {% if current_path == '/new/sponsored' %}active{% endif %}" href="/new/sponsored">Новые личники</a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if current_path == '/new/sponsored' %}active{% endif %}" href="/download">Санкции</a>
    </li>

      <li class="nav-item mt-5">
          <a class="nav-link text-danger" href="/logout">Выйти</a>
      </li>
  </ul>
  

  </div>
</div>