{% extends "base.html" %}
{% block content %}

<div class="text-center mt-5">
    <h1>Подарочные</h1>
</div>


<div class="card mt-5">
    <div class="card-body">
        <p class="text-center fw-normal mb-0 fs-4 mb-4 text-secondary">До следующего Бонуса</p>

        <p class="fs-3 text-center"><span><strong id="next-bonus-name"></strong></span></p>
        <p class="fs-4" id="next-bonus-description"></p>

        <p class="fs-4 mt-5">
            Требуется ТО: <span><strong  id="required-turnover"></strong></span>
        </p>

        <p class="fs-4 mt-5 text-center">ТО на данный момент</p>
        <div class="round mb-5">
            <div class="">
                <table class="table text-center fs-4">
                    <thead>
                      <tr>
                          <th scope="col">ТО левой</th>
                          <th scope="col">ТО правой</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td id="left-volume"></td>
                          <td id="right-volume"></td>
                      </tr>    
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>

<script>
    const SiteUrl = "{{ site_url_and_port }}";
    const apiUrl = `${SiteUrl}/bonus/gift`; // API endpoint
    const token = "{{ token }}"; // Replace with a secure token

    // Fetch data and populate HTML
    fetch(apiUrl, {
        headers: {
            "Authorization": `Bearer ${token}`,
            "Content-Type": "application/json"
        }
    })
    .then(response => response.json())
    .then(data => {

        // Populate gifts
        document.getElementById('next-bonus-name').textContent = data.bonus_name;
        document.getElementById('next-bonus-description').textContent = data.bonus_description;
        document.getElementById('required-turnover').textContent = data.required_turnover;
        document.getElementById('right-volume').textContent = data.volumes.right_volume;
        document.getElementById('left-volume').textContent = data.volumes.left_volume;
    })
    .catch(error => console.error('Error fetching bonuses summary:', error));
</script>
{% endblock %}
