{% extends "base.html" %}
{% block content %}

<div class="text-center mt-5">
    <h1>Вознаграждения</h1>
</div>

<div class="d-flex flex-wrap justify-content-evenly">
  <a class="btn btn-primary btn-lg mt-3" href="/rewards/binar">Бинар бонус</a>
  <a class="btn btn-primary btn-lg mt-3" href="/rewards/referal">Реферальные</a>
  <a class="btn btn-primary btn-lg mt-3" href="/rewards/cheque">Чек от чека</a>
  <a class="btn btn-primary btn-lg mt-3" href="/rewards/status">Статусные</a>
  <a class="btn btn-primary btn-lg mt-3" href="/rewards/sponsor">Спонсорские</a>

</div>


{% endblock %}
